
<section  *ngIf="workExperience"  class="main-article">

   <!-- <pre>{{workExperience|json}}</pre>-->
    <div>
        <label for="company_name">Company Name:</label>
        <p id="company_name">{{workExperience.company_name}}</p>
    </div>

    <div>
        <label for="position">Position:</label>
        <p id="position">{{workExperience.position}}</p>
    </div>

    <div>
        <label for="start_date">Start Date:</label>
        <p id="start_date">{{workExperience.start_date}}</p>
    </div>

    <div>
        <label for="end_date">End Date:</label>
        <p id="end_date">{{workExperience.end_date}}</p>
    </div>



</section>
























