.my-header-base{
    margin-left:20px;
    margin-right:20px;
}

.navbar-fixed-bottom, .navbar-fixed-top, .navbar-static-top{
    background: rgb(2, 55, 90);
    font-family: cursive;
    font-weight: 500;
    font-size:20px;
}
.my-header a{
    color:rgb(13, 176, 101)

}
